*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d8ebb5;
    
}
#wrapper {
    background-color: gray;
    margin: 0 auto;
    background-image: url("newbackground@3x.png");

}


#header {
    background-color: rgb(176, 136, 212);
    border: 2px solid black;
    text-align: center;
    background-image: url("newbackground@3x.png");
}

#roll {
    background-color: #d9bf77;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: black;
    
}



